
{% extends 'master.html' %}

{% block content %}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-5 shadow p-3  rounded-0">
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3 mt-3">
                    <label for="names" class="form-label">Name:</label>
                    <input type="text" class="form-control rounded-0" id="names" placeholder="Enter Your Names"
                           name="names">
                </div>
                <div class="mb-3 mt-3">
                    <label for="weight" class="form-label">Weight:</label>
                    <input type="number" class="form-control rounded-0" id="weight" placeholder="Enter Your weight"
                           name="weight">
                </div>
                <div class="mb-3 mt-3">
                    <label for="height" class="form-label">Height:</label>
                    <input type="number" class="form-control rounded-0" id="height" placeholder="Enter Your height"
                           name="height">
                </div>

                <div class="mb-3 mt-3">
                    <label for="phone" class="form-label">Phone:</label>
                    <input type="tel" class="form-control rounded-0" id="phone" placeholder="Enter Phone Number"
                           name="phone">
                </div>

                <div class="mb-3 mt-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" class="form-control rounded-0" id="email" placeholder="Enter email"
                           name="email">
                </div>

                <div class="mb-3">
                    <label for="pwd" class="form-label">Password:</label>
                    <input type="password" class="form-control rounded-0" id="pwd" placeholder="Enter password"
                           name="password">
                </div>

                <div class="form-check">
                    <input type="radio" class="form-check-input" id="Female" name="gender" value="female" checked>Female.
                    <label class="form-check-label" for="Female"></label>
                </div>

                <div class="form-check">
                    <input type="radio" class="form-check-input" id="male" name="gender" value="male">Male
                    <label class="form-check-label" for="male"></label>
                </div>

                <button type="submit" class="btn btn-dark w-100 rounded-0">Submit</button>
            </form>
        </div>
    </div>
</div>


{% endblock %}